<section id="content">
  <div class="content-wrap">
    <div class="container clearfix">
      <div class="tabs divcenter nobottommargin clearfix" id="tab-login-register" style="max-width: 500px;">
        <ul class="tab-nav tab-nav2 center clearfix">
          <li class="inline-block"><a href="#tab-register">Register</a></li>
          <li class="inline-block"><a href="#tab-login">Login</a></li>
        </ul>
        <div class="tab-container">
          <div class="tab-content clearfix" id="tab-login">
            <div class="panel panel-default nobottommargin">
              <div class="panel-body" style="padding: 30px;">
                <p class="notice" style="margin: 0px;"><%= notice %></p>
                <p class="alert"style="margin: 0px;"><%= alert %></p>
                <h3>Login</h3>
                <%= form_for(resource, as: resource_name,  html: {class: "nobottommargin", id:"login-form",}, url: session_path(resource_name)) do |f| %>
                    <div class="col_full">
                      <%= f.label :email, for:"login-form-username" %><br />
                      <%= f.email_field :email, class:"form-control" ,id:"login-form-username" , autofocus: true %>
                    </div>
                    <div class="col_full">
                      <%= f.label :password, for:"login-form-password" %><br />
                      <%= f.password_field :password, class:"form-control" , id:"login-form-password" , autocomplete: "off" %>
                    </div>
                    <% if devise_mapping.rememberable? %>
                        <div class="col_full">
                          <%= f.check_box :remember_me %>
                          <%= f.label :remember_me %>
                        </div>
                    <% end %>
                    <div class="col_full nobottommargin">
                      <%= f.submit "Log in", class:"button button-3d button-black nomargin",id:"login-form-submit" %>
                    </div>
                <% end %>
                <%= render "devise/shared/links" %>
              </div>
            </div>
          </div>
          <div class="tab-content clearfix" id="tab-register">
            <div class="panel panel-default nobottommargin">
              <div class="panel-body" style="padding: 30px;">
                <p class="notice" style="margin: 0px"><%= notice %></p>
                <p class="alert" style="margin: 0px"><%= alert %></p>
                <h2>Sign up</h2>
                <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                    <%= devise_error_messages! %>
                    <div class="col_full">
                      <%= f.label :email %><br />
                      <%= f.email_field :email, class:"form-control", autofocus: true %>
                    </div>
                    <div class="col_full">
                      <%= f.label :password %>
                      <% if @minimum_password_length %>
                          <em>(<%= @minimum_password_length %> characters minimum)</em>
                      <% end %><br />
                      <%= f.password_field :password, class:"form-control", autocomplete: "off" %>
                    </div>
                    <div class="col_full">
                      <%= f.label :password_confirmation %><br />
                      <%= f.password_field :password_confirmation,class:"form-control", autocomplete: "off" %>
                    </div>
                    <div class="col_full">
                      <%= f.label :name %><br />
                      <%= f.text_field :name, class:"form-control", autofocus: true %>
                    </div>
                    <div class="col_full">
                      <%= f.label :Phone_number %><br />
                      <%= f.text_field :phone, class:"form-control", autofocus: true %>
                    </div>
                    <div class="col_full">
                      <%= f.label :gender %><br />
                      <%= f.radio_button :gender, 'Male', :checked => false %>
                      <%= label :gender, 'Male' %>
                      <%= f.radio_button :gender, 'Female' %>
                      <%= label :gender, 'Female' %>
                    </div>

                    <div class="col_full">
                      <%= f.label :"Foreigner?" %><br />
                      <%= f.radio_button :local_foreigner, 'false', :checked => false %>
                      <%= label :local_foreigner, "I'm foreigner" %>
                      <%= f.radio_button :local_foreigner, 'true' %>
                      <%= label :local_foreigner, "I'm Korean" %>
                    </div>

                    <div class="col_full">
                      <%= f.label :introduce %><br />
                      <%= f.text_area :introduce, class:"form-control", autofocus: true %>
                    </div>
                    <div class="col_full nobottommargin">
                      <%= f.submit "Sign up" ,class:"button button-3d button-black nomargin"%>
                    </div>
                <% end %>
                <%= render "devise/shared/links" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section><!-- #content