
<section id="content">
  <div class="content-wrap">
    <div class="container clearfix">
      <div class="tabs divcenter nobottommargin clearfix" id="tab-login-register" style="max-width: 500px;">
        <div class="tab-container">
          <div class="tab-content clearfix" id="tab-login">
            <div class="panel panel-default nobottommargin">
              <div class="panel-body" style="padding: 30px;">
                <p class="notice" style="margin: 0px"><%= notice %></p>
                <p class="alert" style="margin: 0px"><%= alert %></p>
                <h2>Resend unlock instructions</h2>
                <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: {class: :nobottommargin ,method: :post }) do |f| %>
                    <%= devise_error_messages! %>
                    <div class="col_full">
                      <%= f.label :email %><br />
                      <%= f.email_field :email, class:"form-control", autofocus: true %>
                    </div>
                    <div class="col_full nobottommargin">
                      <%= f.submit "Resend unlock instructions", class:"button button-3d button-black nomargin" %>
                    </div>
                <% end %>
                <%= render "devise/shared/links" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section><!-- #content end -->