<!--3번째 화면 (local, foreigner 상관없이)-->

<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>


  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="author" content="SemiColonWeb" />

  <!-- Stylesheets
  ============================================= -->
  <link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="/assets/css/bootstrap.css" type="text/css" />
  <link rel="stylesheet" href="/assets/style.css" type="text/css" />
  <link rel="stylesheet" href="/assets/css/dark.css" type="text/css" />
  <link rel="stylesheet" href="/assets/css/font-icons.css" type="text/css" />
  <link rel="stylesheet" href="/assets/css/animate.css" type="text/css" />
  <link rel="stylesheet" href="/assets/css/magnific-popup.css" type="text/css" />

  <link rel="stylesheet" href="/assets/css/responsive.css" type="text/css" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!--[if lt IE 9]>
  <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
  <![endif]-->

  <!-- Document Title
  ============================================= -->
  <title>Shall We Go</title>

</head>

<body class="stretched">

<!-- Document Wrapper
============================================= -->
<div id="wrapper" class="clearfix">


  <!-- Content
  ============================================= -->
  <!--임시 코스 목록-->


  <section id="content">

    <div class="content-wrap">

      <div id="oc-images" class="owl-carousel owl-carousel-full news-carousel header-stick bottommargin-lg carousel-widget" data-margin="3" data-loop="true" data-stage-padding="50" data-pagi="false" data-items-xs="1" data-items-lg="2">

        <% @courses.each do|c|%>
            <div class="oc-item">
              <a href="#"> <%= image_tag c.pictures[0].image.main.url %></a>
              <div class="overlay">
                <div class="text-overlay">
                  <span class="label label-danger">World</span>
                  <div class="text-overlay-title">
                    <h2><%=c.title%></h2>
                  </div>
                  <div class="text-overlay-meta">
                    <span> <%= c.start_date.strftime("%Y-%m-%d") %> ~ <%= c.end_date.strftime("%Y-%m-%d") %> </span>
                  </div>
                  <a href="/course/course_detail/<%=c.id%>" class="button button-reveal button-border button-light button-small button-rounded uppercase tright noleftmargin topmargin-sm" style="float: left"><span>Read Story</span><i class="icon-angle-right"></i></a>
                  <div class="button button-border button-light button-small button-rounded noleftmargin topmargin-sm" id="<%= c.id %>HowManyLikes" style="cursor: default"><i class="icon-heart3" style="color: red"></i> <%= c.likes.size %></div>
                </div>
              </div>
            </div>
        <% end %>

      </div>


      <div class="clear"></div>

      <div class="container clearfix">

        <!--<div class="bottommargin-lg">-->
          <!--<img src="/assets/magazine/ad.jpg" alt="Ad" class="aligncenter notopmargin nobottommargin">-->
        <!--</div>-->

        <div class="fancy-title title-border">
          <h3>Eat</h3>
        </div>

        <div class="row bottommargin-sm clearfix">

          <div class="col-md-8 bottommargin">

            <div class="ipost clearfix">
              <div class="entry-image">
                <a href="#"><img class="image_fade" src="/assets/shallwego_style/Restaurant/Cheongjeong-gejangchon/Cheongjeong-gejangchon2.jpg" alt="Image"/></a>
              </div>
              <div class="entry-title">
                <h3><a href="blog-single.html">Cheongjeong-gejangchon(청정게장촌) </a></h3>
              </div>
              <ul class="entry-meta clearfix">
                <li><i class="icon-calendar3"></i> 17th Jan 2017</li>
                <li><a href="blog-single.html#comments"><i class="icon-comments"></i> 31</a></li>
                <li><a href="#"><i class="icon-camera-retro"></i></a></li>
              </ul>
              <div class="entry-content">
                <p>
                  It is a restaurant with a variety of seafood and crab dishes. I am looking for someone to go with me here!</br>
                  다양한 해산물과 게 요리를 파는 식당이에요. 먹부림 하러 가실 분들을 찾고 있습니당!</p>
              </div>
            </div>

          </div>

          <div class="col-md-4 bottommargin">

            <div class="spost clearfix">
              <div class="entry-image">
                <a href="#"><img src="/assets/shallwego_style/Restaurant/Bongpomeoguli_mulhoe/Bongpomeoguli_mulhoe4.jpg" alt=""></a>
              </div>
              <div class="entry-c">
                <div class="entry-title">
                  <h4><a href="#">Bongpomeoguli mulhoe(봉포머구리 물회)</a></h4>
                </div>
                <ul class="entry-meta">
                  <li><i class="icon-calendar3"></i> 20th Nov 2017</li>
                  <li><a href="blog-single.html#comments"><i class="icon-comments"></i> 01</a></li>
                </ul>
              </div>
            </div>

            <div class="spost clearfix">
              <div class="entry-image">
                <a href="#"><img src="/assets/shallwego_style/Restaurant/Gyoli_gimbab/Gyoli_gimbab3.jpg" alt=""></a>
              </div>
              <div class="entry-c">
                <div class="entry-title">
                  <h4><a href="#">Gyoli gimbab(교리 김밥)</a></h4>
                </div>
                <ul class="entry-meta">
                  <li><i class="icon-calendar3"></i> 10th Dec 2017</li>
                  <li><a href="blog-single.html#comments"><i class="icon-comments"></i> 11</a></li>
                </ul>
              </div>
            </div>

            <div class="spost clearfix">
              <div class="entry-image">
                <a href="#"><img src="/assets/shallwego_style/Restaurant/Heugsando_hongeo/Heugsando_hongeo1.jpg" alt=""></a>
              </div>
              <div class="entry-c">
                <div class="entry-title">
                  <h4><a href="#">Heugsando hongeo(흑산도 홍어)</a></h4>
                </div>
                <ul class="entry-meta">
                  <li><i class="icon-calendar3"></i> 20th July 2017</li>
                  <li><a href="#"><i class="icon-comments"></i> 50</a></li>
                </ul>
              </div>
            </div>

            <div class="spost clearfix">
              <div class="entry-image">
                <a href="#"><img src="/assets/shallwego_style/Restaurant/Saebyeogjib_bibimbab/Saebyeogjib_bibimbab1.jpg" alt=""></a>
              </div>
              <div class="entry-c">
                <div class="entry-title">
                  <h4><a href="#">Saebyeogjib bibimbab(새벽집 비빔밥)</a></h4>
                </div>
                <ul class="entry-meta">
                  <li><i class="icon-calendar3"></i> 22nd Jan 2017</li>
                  <li><a href="#"><i class="icon-comments"></i> 55</a></li>
                </ul>
              </div>
            </div>

            <div class="spost clearfix">
              <div class="entry-image">
                <a href="#"><img src="/assets/shallwego_style/Restaurant/Singane_samchi/Singane_samchi1.jpg" alt=""></a>
              </div>
              <div class="entry-c">
                <div class="entry-title">
                  <h4><a href="#">Singane samchi(신가네 삼치)</a></h4>
                </div>
                <ul class="entry-meta">
                  <li><i class="icon-calendar3"></i> 22nd Jan 2017</li>
                  <li><a href="#"><i class="icon-comments"></i> 55</a></li>
                </ul>
              </div>
            </div>

            <div class="spost clearfix">
              <div class="entry-image">
                <a href="#"><img src="/assets/shallwego_style/Restaurant/Sunhuine_bindaetteog/Sunhuine_bindaetteog1.jpg" alt=""></a>
              </div>
              <div class="entry-c">
                <div class="entry-title">
                  <h4><a href="#">Sunhuine bindaetteog(순희네 빈대떡)</a></h4>
                </div>
                <ul class="entry-meta">
                  <li><i class="icon-calendar3"></i> 22nd Jan 2017</li>
                  <li><a href="#"><i class="icon-comments"></i> 55</a></li>
                </ul>
              </div>
            </div>

          </div>

        </div>

        <div class="fancy-title title-border">
          <h3>Beer</h3>
        </div>

        <div class="row bottommargin-sm clearfix">

          <div class="col-md-8 bottommargin">

            <div class="ipost clearfix">
              <div class="entry-image">
                <a href="#"><img class="image_fade" src="/assets/shallwego_style/Beer/Worldofbeer/Worldofbeer5.jpg" alt="Image"></a>
              </div>
              <div class="entry-title">
                <h3><a href="blog-single.html">World of beer(월드오브비어)</a></h3>
              </div>
              <ul class="entry-meta clearfix">
                <li><i class="icon-calendar3"></i> 10th Feb 2017</li>
                <li><a href="blog-single.html#comments"><i class="icon-comments"></i> 22</a></li>
                <li><a href="#"><i class="icon-camera-retro"></i></a></li>
              </ul>
              <div class="entry-content">
                <p>
                  It's a local shop with handmade beer and snacks. Drinking is more fun to drink together, but there is no one to go with. I'm looking for someone to go with.</br>
                  저희 동네에 있는 유명한 수제 맥주집에에요. 술은 같이 먹어야하는데, 같이 먹을 사람이 없네요. 같이 갈 분들 찾고 있어요.
                </p>
              </div>
            </div>

          </div>

          <div class="col-md-4 bottommargin">

            <div class="spost clearfix">
              <div class="entry-image">
                <a href="#"><img src="/assets/shallwego_style/Beer/Baobab/Baobab1.jpg" alt=""></a>
              </div>
              <div class="entry-c">
                <div class="entry-title">
                  <h4><a href="#">Baobab (바오밥)</a></h4>
                </div>
                <ul class="entry-meta">
                  <li><i class="icon-calendar3"></i> 20th Dec 2017</li>
                  <li><a href="#"><i class="icon-comments"></i> 53</a></li>
                </ul>
              </div>
            </div>

            <div class="spost clearfix">
              <div class="entry-image">
                <a href="#"><img src="/assets/shallwego_style/Beer/Bearbeer/Bearbeer2.jpg" alt=""></a>
              </div>
              <div class="entry-c">
                <div class="entry-title">
                  <h4><a href="#">Bearbeer(곰비어)</a></h4>
                </div>
                <ul class="entry-meta">
                  <li><i class="icon-calendar3"></i> 12th Jul 2017</li>
                  <li><a href="#"><i class="icon-comments"></i> 54</a></li>
                </ul>
              </div>
            </div>

            <div class="spost clearfix">
              <div class="entry-image">
                <a href="#"><img src="/assets/shallwego_style/Beer/D.still/D.still1.jpg" alt=""></a>
              </div>
              <div class="entry-c">
                <div class="entry-title">
                  <h4><a href="#">D.still (디스틸)</a></h4>
                </div>
                <ul class="entry-meta">
                  <li><i class="icon-calendar3"></i> 30th Nov 2017</li>
                  <li><a href="#"><i class="icon-comments"></i> 43</a></li>
                </ul>
              </div>
            </div>

            <div class="spost clearfix">
              <div class="entry-image">
                <a href="#"><img src="/assets/shallwego_style/Beer/Growler/Growler4.JPG" alt=""></a>
              </div>
              <div class="entry-c">
                <div class="entry-title">
                  <h4><a href="#">Growler (그로울러)</a></h4>
                </div>
                <ul class="entry-meta">
                  <li><i class="icon-calendar3"></i> 21st Oct 2017</li>
                  <li><a href="#"><i class="icon-comments"></i> 21</a></li>
                </ul>
              </div>
            </div>

            <div class="spost clearfix">
              <div class="entry-image">
                <a href="#"><img src="/assets/shallwego_style/Beer/Han_gang/Han_gang1.jpg" alt=""></a>
              </div>
              <div class="entry-c">
                <div class="entry-title">
                  <h4><a href="#">Hangang (한강)</a></h4>
                </div>
                <ul class="entry-meta">
                  <li><i class="icon-calendar3"></i> 22nd Jan 2017</li>
                  <li><a href="#"><i class="icon-comments"></i> 55</a></li>
                </ul>
              </div>
            </div>

            <div class="spost clearfix">
              <div class="entry-image">
                <a href="#"><img src="/assets/shallwego_style/Beer/Pomme_frites/Pomme_frites1.jpg" alt=""></a>
              </div>
              <div class="entry-c">
                <div class="entry-title">
                  <h4><a href="#">Pomme frites (폼 프리츠)</a></h4>
                </div>
                <ul class="entry-meta">
                  <li><i class="icon-calendar3"></i> 22nd Jan 2017</li>
                  <li><a href="#"><i class="icon-comments"></i> 55</a></li>
                </ul>
              </div>
            </div>

          </div>

        </div>

        <div class="fancy-title title-border">
          <h3>Introduction Video</h3>
        </div>

        <iframe src="http://player.vimeo.com/video/99895335" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

      </div>

      <div class="section dark">

        <div class="container clearfix">

          <h3>Featured Cafe</h3>

          <div id="oc-images2" class="owl-carousel image-carousel carousel-widget" data-margin="20" data-pagi="false" data-rewind="true" data-items-xxs="1" data-items-xs="2" data-items-sm="3" data-items-md="4" data-items-lg="5">

            <div class="oc-item">
              <div class="ipost clearfix">
                <div class="entry-image">
                  <a href="#"><img class="image_fade" src="/assets/shallwego_style/Cafe/Anchor_coffee/Anchor_coffee1.jpg" alt="Image"></a>
                </div>
                <div class="entry-title">
                  <h4><a href="blog-single.html">Anchor coffee (앵커 커피)</a></h4>
                </div>
                <ul class="entry-meta clearfix">
                  <li><i class="icon-calendar3"></i> 17th Feb 2017</li>
                  <li><a href="blog-single.html#comments"><i class="icon-comments"></i> 32</a></li>
                </ul>
              </div>
            </div>
            <div class="oc-item">
              <div class="ipost clearfix">
                <div class="entry-image">
                  <a href="#"><img class="image_fade" src="/assets/shallwego_style/Cafe/Boudoir/Boudoir1.jpg" alt="Image"></a>
                </div>
                <div class="entry-title">
                  <h4><a href="blog-single.html">Boudoir (브두아르)</a></h4>
                </div>
                <ul class="entry-meta clearfix">
                  <li><i class="icon-calendar3"></i> 1st Apr 2017</li>
                  <li><a href="blog-single.html#comments"><i class="icon-comments"></i> 21</a></li>
                </ul>
              </div>
            </div>
            <div class="oc-item">
              <div class="ipost clearfix">
                <div class="entry-image">
                  <a href="#"><img class="image_fade" src="/assets/shallwego_style/Cafe/Cuore_espresso/Cuore_espresso1.jpg" alt="Image"></a>
                </div>
                <div class="entry-title">
                  <h4><a href="blog-single.html">Cuore espresso (쿠오레 에스프레소)</a></h4>
                </div>
                <ul class="entry-meta clearfix">
                  <li><i class="icon-calendar3"></i> 21th Apr 2017</li>
                  <li><a href="blog-single.html#comments"><i class="icon-comments"></i> 30</a></li>
                </ul>
              </div>
            </div>
            <div class="oc-item">
              <div class="ipost clearfix">
                <div class="entry-image">
                  <a href="#"><img class="image_fade" src="/assets/shallwego_style/Cafe/Glass_haus/Glass_haus1.jpg" alt="Image"></a>
                </div>
                <div class="entry-title">
                  <h4><a href="blog-single.html">Glass haus (글라스 하우스)</a></h4>
                </div>
                <ul class="entry-meta clearfix">
                  <li><i class="icon-calendar3"></i> 2nd Jun 2017</li>
                  <li><a href="blog-single.html#comments"><i class="icon-comments"></i> 61</a></li>
                </ul>
              </div>
            </div>
            <div class="oc-item">
              <div class="ipost clearfix">
                <div class="entry-image">
                  <a href="#"><img class="image_fade" src="/assets/shallwego_style/Cafe/Laeskimo/Laeskimo1.jpg" alt="Image"></a>
                </div>
                <div class="entry-title">
                  <h4><a href="blog-single.html">Laeskimo (래스키모)</a></h4>
                </div>
                <ul class="entry-meta clearfix">
                  <li><i class="icon-calendar3"></i> 10th Sep 2017</li>
                  <li><a href="blog-single.html#comments"><i class="icon-comments"></i> 49</a></li>
                </ul>
              </div>
            </div>
            <div class="oc-item">
              <div class="ipost clearfix">
                <div class="entry-image">
                  <a href="#"><img class="image_fade" src="/assets/shallwego_style/Cafe/Piano_libre/Piano_libre1.jpg" alt="Image"></a>
                </div>
                <div class="entry-title">
                  <h4><a href="blog-single.html">Piano libre (피아노 리브레)</a></h4>
                </div>
                <ul class="entry-meta clearfix">
                  <li><i class="icon-calendar3"></i> 12th Mar 2017</li>
                  <li><a href="blog-single.html#comments"><i class="icon-comments"></i> 74</a></li>
                </ul>
              </div>
            </div>
            <div class="oc-item">
              <div class="ipost clearfix">
                <div class="entry-image">
                  <a href="#"><img class="image_fade" src="/assets/shallwego_style/Cafe/Remicon/Remicon1.jpg" alt="Image"></a>
                </div>
                <div class="entry-title">
                  <h4><a href="blog-single.html">Remicon (레미콘)</a></h4>
                </div>
                <ul class="entry-meta clearfix">
                  <li><i class="icon-calendar3"></i> 23rd Aug 2017</li>
                  <li><a href="blog-single.html#comments"><i class="icon-comments"></i> 06</a></li>
                </ul>
              </div>
            </div>
            <!--<div class="oc-item">-->
              <!--<div class="ipost clearfix">-->
                <!--<div class="entry-image">-->
                  <!--<a href="#"><img class="image_fade" src="/assets/shallwego_style/Cafe/.jpg" alt="Image"></a>-->
                <!--</div>-->
                <!--<div class="entry-title">-->
                  <!--<h4><a href="blog-single.html">You can now listen to headphones through your hoodie</a></h4>-->
                <!--</div>-->
                <!--<ul class="entry-meta clearfix">-->
                  <!--<li><i class="icon-calendar3"></i> 26th Nov 2017</li>-->
                  <!--<li><a href="blog-single.html#comments"><i class="icon-comments"></i> 13</a></li>-->
                <!--</ul>-->
              <!--</div>-->
            <!--</div>-->

          </div>


        </div>

      </div>

      <div class="container clearfix">

        <div class="col_full bottommargin-lg clearfix">

          <div class="fancy-title title-border">
            <h3>Other Courses</h3>
          </div>

          <div class="col_one_fourth">
            <div class="ipost clearfix">
              <div class="entry-image">
                <a href="#"><img class="image_fade" src="/assets/shallwego_style/Festival/UMF/UMF1.jpg" alt="Image"></a>
              </div>
              <div class="entry-title">
                <h3><a href="blog-single.html">Ultra Music Festival(울트라 코리아)</a></h3>
              </div>
              <ul class="entry-meta clearfix">
                <li><i class="icon-calendar3"></i> 10th Nov 2017</li>
                <li><a href="blog-single.html#comments"><i class="icon-comments"></i> 15</a></li>
              </ul>
              <div class="entry-content">
                <p>UMF korea to go out with foreign friends to save! I play with the Koreans!<br>
                    UMF 코리아에 같이 갈 외국 친구들 구해요! 한국인들이랑 같이 놀아요!</p>
              </div>
            </div>
          </div>

          <div class="col_one_fourth">
            <div class="ipost clearfix">
              <div class="entry-image">
                <a href="#"><img class="image_fade" src="/assets/shallwego_style/Festival/Heineken_stardium/Heineken_stardium1.jpg" alt="Image"></a>
              </div>
              <div class="entry-title">
                <h3><a href="blog-single.html">Heineken stardium(하이네켄 스타디움)</a></h3>
              </div>
              <ul class="entry-meta clearfix">
                <li><i class="icon-calendar3"></i> 13th Nov 2017</li>
                <li><a href="blog-single.html#comments"><i class="icon-comments"></i> 25</a></li>
              </ul>
              <div class="entry-content">
                <p>
                  I am going to the festival for the first time and I am looking for someone to come with me.</br>
                  저는 이번에 처음 페스티벌에 가봐요. 같이 가실 분들 찾고 있어용.</p>
              </div>
            </div>
          </div>

          <div class="col_one_fourth">
            <div class="ipost clearfix">
              <div class="entry-image">
                <a href="#"><img class="image_fade" src="/assets/shallwego_style/Festival/Mud/Mud1.jpg" alt="Image"></a>
              </div>
              <div class="entry-title">
                <h3><a href="blog-single.html">Mud Festival (머드 축제)</a></h3>
              </div>
              <ul class="entry-meta clearfix">
                <li><i class="icon-calendar3"></i> 19th Dec 2017</li>
                <li><a href="blog-single.html#comments"><i class="icon-comments"></i> 19</a></li>
              </ul>
              <div class="entry-content">
                <p>
                  We are looking for people to come to Mud Festival, a traditional festival of Boryeong in Korea.</br>
                  한국 보령의 전통인 머드 축제에 같이갈 분들 찾습니다.</p>
              </div>
            </div>
          </div>

          <div class="col_one_fourth col_last">
            <div class="ipost clearfix">
              <div class="entry-image">
                <a href="#"><img class="image_fade" src="/assets/shallwego_style/Festival/Tulip/Tulip1.jpg" alt="Image"></a>
              </div>
              <div class="entry-title">
                <h3><a href="blog-single.html">Tulip Festival (튤립 축제)</a></h3>
              </div>
              <ul class="entry-meta clearfix">
                <li><i class="icon-calendar3"></i> 22nd Jan 2017</li>
                <li><a href="blog-single.html#comments"><i class="icon-comments"></i> 14</a></li>
              </ul>
              <div class="entry-content">
                <p>
                  I want to see a beautiful tulip, so I'm going to the festival. Come to those who love flowers.
                  </br>아름다운 튤립을 보려고 축제 갑니닷!! 꽃 사랑하시는 분들 모두 컴컴!</p>
              </div>
            </div>
          </div>

          <div class="clear"></div>

          <div class="col_one_fourth nobottommargin">
            <div class="ipost clearfix">
              <div class="entry-image">
                <a href="#"><img class="image_fade" src="/assets/shallwego_style/Travel/Gunsan/Gunsan4.jpg" alt="Image"></a>
              </div>
              <div class="entry-title">
                <h3><a href="blog-single.html">Gunsan (군산)</a></h3>
              </div>
              <ul class="entry-meta clearfix">
                <li><i class="icon-calendar3"></i> 19th Apr 2017</li>
                <li><a href="blog-single.html#comments"><i class="icon-comments"></i> 55</a></li>
              </ul>
              <div class="entry-content">
                <p>
                  Do you have anyone to go to Gunsan?
                 </br>군산 갈 사람?</p>
              </div>
            </div>
          </div>

          <div class="col_one_fourth nobottommargin">
            <div class="ipost clearfix">
              <div class="entry-image">
                <a href="#"><img class="image_fade" src="/assets/shallwego_style/Travel/Jeju/jeju1.jpg" alt="Image"></a>
              </div>
              <div class="entry-title">
                <h3><a href="blog-single.html">Jeju (제주)</a></h3>
              </div>
              <ul class="entry-meta clearfix">
                <li><i class="icon-calendar3"></i> 26th Apr 2017</li>
                <li><a href="blog-single.html#comments"><i class="icon-comments"></i> 41</a></li>
              </ul>
              <div class="entry-content">
                <p>
                  Forget about everyday and come to Healing on Jeju Island.
                  </br>일상을 모드 던져버리고 제주로 힐링하러 갑시다 꺄울~~~!!</p>
              </div>
            </div>
          </div>

          <div class="col_one_fourth nobottommargin">
            <div class="ipost clearfix">
              <div class="entry-image">
                <a href="#"><img class="image_fade" src="/assets/shallwego_style/Travel/Seoul/Seoul1.jpg" alt="Image"></a>
              </div>
              <div class="entry-title">
                <h3><a href="blog-single.html">Seoul (서울)</a></h3>
              </div>
              <ul class="entry-meta clearfix">
                <li><i class="icon-calendar3"></i> 31st Mar 2017</li>
                <li><a href="blog-single.html#comments"><i class="icon-comments"></i> 43</a></li>
              </ul>
              <div class="entry-content">
                <p>It's Seoul city tour!! I will be a your guide!
                  <br> 제가 만든 서울의 시티 투어입니다! 제가 당신의 가이드가 되어드리죠 후훗</p>
              </div>
            </div>
          </div>

          <div class="col_one_fourth nobottommargin col_last">
            <div class="ipost clearfix">
              <div class="entry-image">
                <a href="#"><img class="image_fade" src="/assets/shallwego_style/Travel/Yeosu/Yeosu1.jpg" alt="Image"></a>
              </div>
              <div class="entry-title">
                <h3><a href="blog-single.html">Yeosu (여수)</a></h3>
              </div>
              <ul class="entry-meta clearfix">
                <li><i class="icon-calendar3"></i> 10th Feb 2017</li>
                <li><a href="blog-single.html#comments"><i class="icon-comments"></i> 21</a></li>
              </ul>
              <div class="entry-content">
                <p>
                  Join the people who want to go to the aquarium.
                  <br> 시원한 수족관 보러 같이 갈 사람들 여기로 오세욥</p>
              </div>
            </div>
          </div>

        </div>

        <!--<img src="/assets/magazine/ad.jpg" alt="Ad" class="aligncenter topmargin-lg bottommargin-lg">-->

        <div class="col_one_third nobottommargin">

          <div class="fancy-title title-border">
            <h4>Recently Completed Courses</h4>
          </div>

          <div>


            <div class="spost clearfix">
              <div class="entry-image">
                <a href="#"><img class="image_fade" src="/assets/magazine/small/movie/3.jpg" alt="Image"></a>
              </div>
              <div class="entry-c">
                <div class="entry-title">
                  <h4><a href="#">
                    Let's go Yeosu! (여수 기행)</a></h4>
                </div>
                <ul class="entry-meta clearfix">
                  <li class="color"><i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star-half-full"></i> <i class="icon-star-empty"></i> <i class="icon-star-empty"></i></li>
                  <li><i class="icon-heart3 text-warning"></i> 54%</li>
                </ul>
              </div>
            </div>

            <div class="spost clearfix">
              <div class="entry-image">
                <a href="#"><img class="image_fade" src="/assets/magazine/small/movie/4.jpg" alt="Image"></a>
              </div>
              <div class="entry-c">
                <div class="entry-title">
                  <h4><a href="#">Sultry meeting (주당들)</a></h4>
                </div>
                <ul class="entry-meta clearfix">
                  <li class="color"><i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star-empty"></i> <i class="icon-star-empty"></i> <i class="icon-star-empty"></i></li>
                  <li><i class="icon-heart3 text-warning"></i> 45%</li>
                </ul>
              </div>
            </div>

            <div class="spost clearfix">
              <div class="entry-image">
                <a href="#"><img class="image_fade" src="/assets/magazine/small/movie/5.jpg" alt="Image"></a>
              </div>
              <div class="entry-c">
                <div class="entry-title">
                  <h4><a href="#"> Go around Insadong (인사동 한바퀴)</a></h4>
                </div>
                <ul class="entry-meta clearfix">
                  <li class="color"><i class="icon-star3"></i> <i class="icon-star-half-full"></i> <i class="icon-star-empty"></i> <i class="icon-star-empty"></i> <i class="icon-star-empty"></i></li>
                  <li><i class="icon-heart3 text-default"></i> 20%</li>
                </ul>
              </div>
            </div>

            <div class="spost clearfix">
              <div class="entry-image">
                <a href="#"><img class="image_fade" src="/assets/magazine/small/movie/6.jpg" alt="Image"></a>
              </div>
              <div class="entry-c">
                <div class="entry-title">
                  <h4><a href="#">Drink a coffee (커피 한잔)</a></h4>
                </div>
                <ul class="entry-meta clearfix">
                  <li class="color"><i class="icon-star3"></i> <i class="icon-star-empty"></i> <i class="icon-star-empty"></i> <i class="icon-star-empty"></i> <i class="icon-star-empty"></i></li>
                  <li><i class="icon-heart3 text-default"></i> 17%</li>
                </ul>
              </div>
            </div>

            <div class="spost clearfix">
              <div class="entry-image">
                <a href="#"><img class="image_fade" src="/assets/magazine/small/movie/7.jpg" alt="Image"></a>
              </div>
              <div class="entry-c">
                <div class="entry-title">
                  <h4><a href="#">7.11 Soccer (7월 11일 축구 한겜)</a></h4>
                </div>
                <ul class="entry-meta clearfix">
                  <li class="color"><i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star-empty"></i></li>
                  <li><i class="icon-heart3 text-danger"></i> 90%</li>
                </ul>
              </div>
            </div>

          </div>

        </div>

        <div class="col_one_third nobottommargin">

          <div class="fancy-title title-border">
            <h4>Course Review</h4>
          </div>

          <div>
            <div class="spost clearfix">
              <div class="entry-c">
                <div class="entry-title">
                  <h4><a href="#">Thomas Jack Presents: Tropical House Vol.5</a></h4>
                </div>
                <ul class="entry-meta clearfix">
                  <li><i class="icon-heart3 text-danger"></i> 92%</li>
                  <li>Thomas Jack</li>
                </ul>
              </div>
            </div>

            <div class="spost clearfix">
              <div class="entry-c">
                <div class="entry-title">
                  <h4><a href="#">Major Lazer's Walshy Fire Presents: Jesse Royal - Royally Speaking</a></h4>
                </div>
                <ul class="entry-meta clearfix">
                  <li><i class="icon-heart3 text-warning"></i> 54%</li>
                  <li>Major Lazer</li>
                </ul>
              </div>
            </div>

            <div class="spost clearfix">
              <div class="entry-c">
                <div class="entry-title">
                  <h4><a href="#">The Weeknd - King Of The Fall</a></h4>
                </div>
                <ul class="entry-meta clearfix">
                  <li><i class="icon-heart3 text-success"></i> 78%</li>
                  <li>The Weeknd-XO</li>
                </ul>
              </div>
            </div>

            <div class="spost clearfix">
              <div class="entry-c">
                <div class="entry-title">
                  <h4><a href="#">No Flex Zone Remix Feat. Nicki Minaj</a></h4>
                </div>
                <ul class="entry-meta clearfix">
                  <li><i class="icon-heart3 text-warning"></i> 45%</li>
                  <li>Nicki Minaj</li>
                </ul>
              </div>
            </div>

            <div class="spost clearfix">
              <div class="entry-c">
                <div class="entry-title">
                  <h4><a href="#">Mike Mago &amp; Dragonette - Outlines</a></h4>
                </div>
                <ul class="entry-meta clearfix">
                  <li><i class="icon-heart3 text-primary"></i> 65%</li>
                  <li>Mike Mago</li>
                </ul>
              </div>
            </div>
          </div>

        </div>

        <div class="col_one_third nobottommargin col_last">

          <div class="fancy-title title-border">
            <h4>Opinion Polls</h4>
          </div>

          <div>
            <div class="spost clearfix">
              <div class="entry-c">
                <div class="entry-title">
                  <h4><a href="#">Who do you think is responsible for shooting down Malaysia Airlines flight MH17?</a></h4>
                </div>
                <ul class="entry-meta clearfix">
                  <li><span class="text-success">Ukraine:</span> 77%</li>
                  <li><span class="text-danger">Rebels:</span> 23%</li>
                </ul>
              </div>
            </div>
            <div class="spost clearfix">
              <div class="entry-c">
                <div class="entry-title">
                  <h4><a href="#">Maradona says Messi didn't deserve Golden Ball?</a></h4>
                </div>
                <ul class="entry-meta clearfix">
                  <li><i class="icon-thumbs-up text-success"></i> 54%</li>
                  <li><i class="icon-thumbs-down text-danger"></i> 46%</li>
                </ul>
              </div>
            </div>
            <div class="spost clearfix">
              <div class="entry-c">
                <div class="entry-title">
                  <h4><a href="#">Palestinian president says Israel is carrying out a genocide in Gaza?</a></h4>
                </div>
                <ul class="entry-meta clearfix">
                  <li><i class="icon-thumbs-up text-success"></i> 80%</li>
                  <li><i class="icon-thumbs-down text-danger"></i> 20%</li>
                </ul>
              </div>
            </div>
            <div class="spost clearfix">
              <div class="entry-c">
                <div class="entry-title">
                  <h4><a href="#">Can Brazil progress in the World Cup without Neymar?</a></h4>
                </div>
                <ul class="entry-meta clearfix">
                  <li><i class="icon-thumbs-up text-success"></i> 55%</li>
                  <li><i class="icon-thumbs-down text-danger"></i> 45%</li>
                </ul>
              </div>
            </div>
          </div>

        </div>

      </div>

    </div>

  </section><!-- #content end -->

  <!-- Footer
  ============================================= -->
  <footer id="footer" class="dark">

    <!-- Copyrights
    ============================================= -->
    <div id="copyrights">

      <div class="container clearfix">

        <div class="col_half">
          Copyrights &copy; 2017 All Rights Reserved by Shall We Go.<br>
        </div>

        <div class="col_half col_last tright">
          <div class="fright clearfix">
            <a href="#" class="social-icon si-small si-borderless si-facebook">
              <i class="icon-facebook"></i>
              <i class="icon-facebook"></i>
            </a>

            <a href="#" class="social-icon si-small si-borderless si-twitter">
              <i class="icon-twitter"></i>
              <i class="icon-twitter"></i>
            </a>

            <a href="#" class="social-icon si-small si-borderless si-gplus">
              <i class="icon-gplus"></i>
              <i class="icon-gplus"></i>
            </a>

            <a href="#" class="social-icon si-small si-borderless si-pinterest">
              <i class="icon-pinterest"></i>
              <i class="icon-pinterest"></i>
            </a>

            <a href="#" class="social-icon si-small si-borderless si-vimeo">
              <i class="icon-vimeo"></i>
              <i class="icon-vimeo"></i>
            </a>

            <a href="#" class="social-icon si-small si-borderless si-github">
              <i class="icon-github"></i>
              <i class="icon-github"></i>
            </a>

            <a href="#" class="social-icon si-small si-borderless si-yahoo">
              <i class="icon-yahoo"></i>
              <i class="icon-yahoo"></i>
            </a>

            <a href="#" class="social-icon si-small si-borderless si-linkedin">
              <i class="icon-linkedin"></i>
              <i class="icon-linkedin"></i>
            </a>
          </div>

          <div class="clear"></div>

          <i class="icon-envelope2"></i> shallwego@google.com <span class="middot">&middot;</span>
          <i class="icon-headphones"></i> +82-10-9507-8230 <span class="middot">&middot;</span>
        </div>

      </div>

    </div><!-- #copyrights end -->

  </footer><!-- #footer end -->

</div><!-- #wrapper end -->

<!-- Go To Top
============================================= -->
<div id="gotoTop" class="icon-angle-up"></div>

<!-- External JavaScripts
============================================= -->
<script type="text/javascript" src="/assets/js/jquery.js"></script>
<script type="text/javascript" src="/assets/js/plugins.js"></script>

<!-- Footer Scripts
============================================= -->
<script type="text/javascript" src="/assets/js/functions.js"></script>

</body>


</html>