<!--3번째 화면 (local, foreigner 상관없이)-->

<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="author" content="SemiColonWeb" />

  <!-- Stylesheets
  ============================================= -->
  <link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="/assets/css/bootstrap.css" type="text/css" />
  <link rel="stylesheet" href="/assets/style.css" type="text/css" />
  <link rel="stylesheet" href="/assets/css/dark.css" type="text/css" />
  <link rel="stylesheet" href="/assets/css/font-icons.css" type="text/css" />
  <link rel="stylesheet" href="/assets/css/animate.css" type="text/css" />
  <link rel="stylesheet" href="/assets/css/magnific-popup.css" type="text/css" />

  <link rel="stylesheet" href="/assets/css/responsive.css" type="text/css" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <!--[if lt IE 9]>
  <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
  <![endif]-->

  <!-- Document Title
  ============================================= -->
  <title>Home - Magazine Layout | Canvas</title>

</head>

<body class="stretched">

<!-- Document Wrapper
============================================= -->
<div id="wrapper" class="clearfix">


  <!-- Content
  ============================================= -->
  <!--임시 코스 목록-->


  <section id="content">

    <div class="content-wrap">

      <div id="oc-images" class="owl-carousel owl-carousel-full news-carousel header-stick bottommargin-lg carousel-widget" data-margin="3" data-loop="true" data-stage-padding="50" data-pagi="false" data-items-xs="1" data-items-lg="2">

        <% @courses.each do|c|%>
            <div class="oc-item">
              <a href="#"> <%= image_tag c.pictures[0].image.main.url %></a>
              <div class="overlay">
                <div class="text-overlay">
                  <span class="label label-danger">World</span>
                  <div class="text-overlay-title">
                    <h2><%=c.title%></h2>
                  </div>
                  <div class="text-overlay-meta">
                    <span> <%= c.start_date.strftime("%Y-%m-%d") %> ~ <%= c.end_date.strftime("%Y-%m-%d") %> </span>
                  </div>
                  <a href="/course/course_detail/<%=c.id%>" class="button button-reveal button-border button-light button-small button-rounded uppercase tright noleftmargin topmargin-sm" style="float: left"><span>Read Story</span><i class="icon-angle-right"></i></a>
                  <div class="button button-border button-light button-small button-rounded noleftmargin topmargin-sm" id="<%= c.id %>HowManyLikes" style="cursor: default"><i class="icon-heart3" style="color: red"></i> <%= c.likes.size %></div>
                </div>
              </div>
            </div>
        <% end %>

      </div>


      <div class="clear"></div>

      <div class="container clearfix">

        <!--<div class="bottommargin-lg">-->
          <!--<img src="/assets/magazine/ad.jpg" alt="Ad" class="aligncenter notopmargin nobottommargin">-->
        <!--</div>-->

        <div class="fancy-title title-border">
          <h3>Technology</h3>
        </div>

        <div class="row bottommargin-sm clearfix">

          <div class="col-md-8 bottommargin">

            <div class="ipost clearfix">
              <div class="entry-image">
                <a href="#"><img class="image_fade" src="/assets/magazine/7.jpg" alt="Image"></a>
              </div>
              <div class="entry-title">
                <h3><a href="blog-single.html">Toyotas next minivan will let you shout at your kids without turning around</a></h3>
              </div>
              <ul class="entry-meta clearfix">
                <li><i class="icon-calendar3"></i> 17th Jan 2014</li>
                <li><a href="blog-single.html#comments"><i class="icon-comments"></i> 31</a></li>
                <li><a href="#"><i class="icon-camera-retro"></i></a></li>
              </ul>
              <div class="entry-content">
                <p>Asperiores, tenetur, blanditiis, quaerat odit ex exercitationem pariatur quibusdam veritatis quisquam laboriosam esse beatae hic perferendis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, repudiandae.</p>
              </div>
            </div>

          </div>

          <div class="col-md-4 bottommargin">

            <div class="spost clearfix">
              <div class="entry-image">
                <a href="#"><img src="/assets/magazine/small/1.jpg" alt=""></a>
              </div>
              <div class="entry-c">
                <div class="entry-title">
                  <h4><a href="#">UK government weighs Tesla's Model S for its ??5 million electric vehicle fleet</a></h4>
                </div>
                <ul class="entry-meta">
                  <li><i class="icon-calendar3"></i> 20th Nov 2014</li>
                  <li><a href="blog-single.html#comments"><i class="icon-comments"></i> 01</a></li>
                </ul>
              </div>
            </div>

            <div class="spost clearfix">
              <div class="entry-image">
                <a href="#"><img src="/assets/magazine/small/2.jpg" alt=""></a>
              </div>
              <div class="entry-c">
                <div class="entry-title">
                  <h4><a href="#">MIT's new robot glove can give you extra fingers</a></h4>
                </div>
                <ul class="entry-meta">
                  <li><i class="icon-calendar3"></i> 10th Dec 2013</li>
                  <li><a href="blog-single.html#comments"><i class="icon-comments"></i> 11</a></li>
                </ul>
              </div>
            </div>

            <div class="spost clearfix">
              <div class="entry-image">
                <a href="#"><img src="/assets/magazine/small/3.jpg" alt=""></a>
              </div>
              <div class="entry-c">
                <div class="entry-title">
                  <h4><a href="#">You can now listen to headphones through your hoodie</a></h4>
                </div>
                <ul class="entry-meta">
                  <li><i class="icon-calendar3"></i> 20th July 2014</li>
                  <li><a href="#"><i class="icon-comments"></i> 50</a></li>
                </ul>
              </div>
            </div>

            <div class="spost clearfix">
              <div class="entry-image">
                <a href="#"><img src="/assets/magazine/small/4.jpg" alt=""></a>
              </div>
              <div class="entry-c">
                <div class="entry-title">
                  <h4><a href="#">How would you change Kobo's Aura HD e-reader?</a></h4>
                </div>
                <ul class="entry-meta">
                  <li><i class="icon-calendar3"></i> 22nd Jan 2014</li>
                  <li><a href="#"><i class="icon-comments"></i> 55</a></li>
                </ul>
              </div>
            </div>

            <div class="spost clearfix">
              <div class="entry-image">
                <a href="#"><img src="/assets/magazine/small/5.jpg" alt=""></a>
              </div>
              <div class="entry-c">
                <div class="entry-title">
                  <h4><a href="#">Combat malaria solve, disruption advancement socio-economic</a></h4>
                </div>
                <ul class="entry-meta">
                  <li><i class="icon-calendar3"></i> 22nd Jan 2014</li>
                  <li><a href="#"><i class="icon-comments"></i> 55</a></li>
                </ul>
              </div>
            </div>

            <div class="spost clearfix">
              <div class="entry-image">
                <a href="#"><img src="/assets/magazine/small/6.jpg" alt=""></a>
              </div>
              <div class="entry-c">
                <div class="entry-title">
                  <h4><a href="#">Interconnectivity raise awareness fighting</a></h4>
                </div>
                <ul class="entry-meta">
                  <li><i class="icon-calendar3"></i> 22nd Jan 2014</li>
                  <li><a href="#"><i class="icon-comments"></i> 55</a></li>
                </ul>
              </div>
            </div>

          </div>

        </div>

        <div class="fancy-title title-border">
          <h3>Entertainment</h3>
        </div>

        <div class="row bottommargin-sm clearfix">

          <div class="col-md-8 bottommargin">

            <div class="ipost clearfix">
              <div class="entry-image">
                <a href="#"><img class="image_fade" src="/assets/magazine/13.jpg" alt="Image"></a>
              </div>
              <div class="entry-title">
                <h3><a href="blog-single.html">Effectiveness emergent catalyst combat malaria positive social change</a></h3>
              </div>
              <ul class="entry-meta clearfix">
                <li><i class="icon-calendar3"></i> 10th Feb 2014</li>
                <li><a href="blog-single.html#comments"><i class="icon-comments"></i> 22</a></li>
                <li><a href="#"><i class="icon-camera-retro"></i></a></li>
              </ul>
              <div class="entry-content">
                <p>Asperiores, tenetur, blanditiis, quaerat odit ex exercitationem pariatur quibusdam veritatis quisquam laboriosam esse beatae hic perferendis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae, repudiandae.</p>
              </div>
            </div>

          </div>

          <div class="col-md-4 bottommargin">

            <div class="spost clearfix">
              <div class="entry-image">
                <a href="#"><img src="/assets/magazine/small/1.jpg" alt=""></a>
              </div>
              <div class="entry-c">
                <div class="entry-title">
                  <h4><a href="#">UK government weighs Tesla's Model S for its ??5 million electric vehicle fleet</a></h4>
                </div>
                <ul class="entry-meta">
                  <li><i class="icon-calendar3"></i> 20th Dec 2014</li>
                  <li><a href="#"><i class="icon-comments"></i> 53</a></li>
                </ul>
              </div>
            </div>

            <div class="spost clearfix">
              <div class="entry-image">
                <a href="#"><img src="/assets/magazine/small/2.jpg" alt=""></a>
              </div>
              <div class="entry-c">
                <div class="entry-title">
                  <h4><a href="#">MIT's new robot glove can give you extra fingers</a></h4>
                </div>
                <ul class="entry-meta">
                  <li><i class="icon-calendar3"></i> 12th Jul 2014</li>
                  <li><a href="#"><i class="icon-comments"></i> 54</a></li>
                </ul>
              </div>
            </div>

            <div class="spost clearfix">
              <div class="entry-image">
                <a href="#"><img src="/assets/magazine/small/3.jpg" alt=""></a>
              </div>
              <div class="entry-c">
                <div class="entry-title">
                  <h4><a href="#">You can now listen to headphones through your hoodie</a></h4>
                </div>
                <ul class="entry-meta">
                  <li><i class="icon-calendar3"></i> 30th Nov 2014</li>
                  <li><a href="#"><i class="icon-comments"></i> 43</a></li>
                </ul>
              </div>
            </div>

            <div class="spost clearfix">
              <div class="entry-image">
                <a href="#"><img src="/assets/magazine/small/4.jpg" alt=""></a>
              </div>
              <div class="entry-c">
                <div class="entry-title">
                  <h4><a href="#">How would you change Kobo's Aura HD e-reader?</a></h4>
                </div>
                <ul class="entry-meta">
                  <li><i class="icon-calendar3"></i> 21st Oct 2014</li>
                  <li><a href="#"><i class="icon-comments"></i> 21</a></li>
                </ul>
              </div>
            </div>

            <div class="spost clearfix">
              <div class="entry-image">
                <a href="#"><img src="/assets/magazine/small/5.jpg" alt=""></a>
              </div>
              <div class="entry-c">
                <div class="entry-title">
                  <h4><a href="#">Combat malaria solve, disruption advancement socio-economic</a></h4>
                </div>
                <ul class="entry-meta">
                  <li><i class="icon-calendar3"></i> 22nd Jan 2014</li>
                  <li><a href="#"><i class="icon-comments"></i> 55</a></li>
                </ul>
              </div>
            </div>

            <div class="spost clearfix">
              <div class="entry-image">
                <a href="#"><img src="/assets/magazine/small/6.jpg" alt=""></a>
              </div>
              <div class="entry-c">
                <div class="entry-title">
                  <h4><a href="#">Interconnectivity raise awareness fighting</a></h4>
                </div>
                <ul class="entry-meta">
                  <li><i class="icon-calendar3"></i> 22nd Jan 2014</li>
                  <li><a href="#"><i class="icon-comments"></i> 55</a></li>
                </ul>
              </div>
            </div>

          </div>

        </div>

        <div class="fancy-title title-border">
          <h3>Featured Video</h3>
        </div>

        <iframe src="http://player.vimeo.com/video/99895335" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

      </div>

      <div class="section dark">

        <div class="container clearfix">

          <h3>Featured News:</h3>

          <div id="oc-images2" class="owl-carousel image-carousel carousel-widget" data-margin="20" data-pagi="false" data-rewind="true" data-items-xxs="1" data-items-xs="2" data-items-sm="3" data-items-md="4" data-items-lg="5">

            <div class="oc-item">
              <div class="ipost clearfix">
                <div class="entry-image">
                  <a href="#"><img class="image_fade" src="/assets/magazine/thumb/1.jpg" alt="Image"></a>
                </div>
                <div class="entry-title">
                  <h4><a href="blog-single.html">A Baseball Team Blew Up A Bunch Of Justin Bieber And Miley Cyrus Merch</a></h4>
                </div>
                <ul class="entry-meta clearfix">
                  <li><i class="icon-calendar3"></i> 17th Feb 2014</li>
                  <li><a href="blog-single.html#comments"><i class="icon-comments"></i> 32</a></li>
                </ul>
              </div>
            </div>
            <div class="oc-item">
              <div class="ipost clearfix">
                <div class="entry-image">
                  <a href="#"><img class="image_fade" src="/assets/magazine/thumb/2.jpg" alt="Image"></a>
                </div>
                <div class="entry-title">
                  <h4><a href="blog-single.html">UK government weighs Tesla's Model S for its ??5 million electric vehicle fleet</a></h4>
                </div>
                <ul class="entry-meta clearfix">
                  <li><i class="icon-calendar3"></i> 1st Apr 2014</li>
                  <li><a href="blog-single.html#comments"><i class="icon-comments"></i> 21</a></li>
                </ul>
              </div>
            </div>
            <div class="oc-item">
              <div class="ipost clearfix">
                <div class="entry-image">
                  <a href="#"><img class="image_fade" src="/assets/magazine/thumb/3.jpg" alt="Image"></a>
                </div>
                <div class="entry-title">
                  <h4><a href="blog-single.html">MIT's new robot glove can give you extra fingers</a></h4>
                </div>
                <ul class="entry-meta clearfix">
                  <li><i class="icon-calendar3"></i> 21th Apr 2014</li>
                  <li><a href="blog-single.html#comments"><i class="icon-comments"></i> 30</a></li>
                </ul>
              </div>
            </div>
            <div class="oc-item">
              <div class="ipost clearfix">
                <div class="entry-image">
                  <a href="#"><img class="image_fade" src="/assets/magazine/thumb/4.jpg" alt="Image"></a>
                </div>
                <div class="entry-title">
                  <h4><a href="blog-single.html">Yen dips on modest reduction in risk aversion, markets still wary</a></h4>
                </div>
                <ul class="entry-meta clearfix">
                  <li><i class="icon-calendar3"></i> 2nd Jun 2014</li>
                  <li><a href="blog-single.html#comments"><i class="icon-comments"></i> 61</a></li>
                </ul>
              </div>
            </div>
            <div class="oc-item">
              <div class="ipost clearfix">
                <div class="entry-image">
                  <a href="#"><img class="image_fade" src="/assets/magazine/thumb/5.jpg" alt="Image"></a>
                </div>
                <div class="entry-title">
                  <h4><a href="blog-single.html">Beyonce Dropped A '50 Shades Of Grey', Teaser On Instagram Last Night</a></h4>
                </div>
                <ul class="entry-meta clearfix">
                  <li><i class="icon-calendar3"></i> 10th Sep 2014</li>
                  <li><a href="blog-single.html#comments"><i class="icon-comments"></i> 49</a></li>
                </ul>
              </div>
            </div>
            <div class="oc-item">
              <div class="ipost clearfix">
                <div class="entry-image">
                  <a href="#"><img class="image_fade" src="/assets/magazine/thumb/6.jpg" alt="Image"></a>
                </div>
                <div class="entry-title">
                  <h4><a href="blog-single.html">Want To Know The New 'Star Wars' Plot? Then This Is The Post For You</a></h4>
                </div>
                <ul class="entry-meta clearfix">
                  <li><i class="icon-calendar3"></i> 12th Mar 2014</li>
                  <li><a href="blog-single.html#comments"><i class="icon-comments"></i> 74</a></li>
                </ul>
              </div>
            </div>
            <div class="oc-item">
              <div class="ipost clearfix">
                <div class="entry-image">
                  <a href="#"><img class="image_fade" src="/assets/magazine/thumb/7.jpg" alt="Image"></a>
                </div>
                <div class="entry-title">
                  <h4><a href="blog-single.html">Toyotas next minivan will let you shout at your kids without turning around</a></h4>
                </div>
                <ul class="entry-meta clearfix">
                  <li><i class="icon-calendar3"></i> 23rd Aug 2014</li>
                  <li><a href="blog-single.html#comments"><i class="icon-comments"></i> 06</a></li>
                </ul>
              </div>
            </div>
            <div class="oc-item">
              <div class="ipost clearfix">
                <div class="entry-image">
                  <a href="#"><img class="image_fade" src="/assets/magazine/thumb/8.jpg" alt="Image"></a>
                </div>
                <div class="entry-title">
                  <h4><a href="blog-single.html">You can now listen to headphones through your hoodie</a></h4>
                </div>
                <ul class="entry-meta clearfix">
                  <li><i class="icon-calendar3"></i> 26th Nov 2014</li>
                  <li><a href="blog-single.html#comments"><i class="icon-comments"></i> 13</a></li>
                </ul>
              </div>
            </div>

          </div>


        </div>

      </div>

      <div class="container clearfix">

        <div class="col_full bottommargin-lg clearfix">

          <div class="fancy-title title-border">
            <h3>Other News</h3>
          </div>

          <div class="col_one_fourth">
            <div class="ipost clearfix">
              <div class="entry-image">
                <a href="#"><img class="image_fade" src="/assets/magazine/thumb/11.jpg" alt="Image"></a>
              </div>
              <div class="entry-title">
                <h3><a href="blog-single.html">Toyotas next minivan will let you shout at your kids without turning around</a></h3>
              </div>
              <ul class="entry-meta clearfix">
                <li><i class="icon-calendar3"></i> 10th Nov 2014</li>
                <li><a href="blog-single.html#comments"><i class="icon-comments"></i> 15</a></li>
              </ul>
              <div class="entry-content">
                <p>Neque nesciunt molestias soluta esse debitis. Magni impedit quae consectetur consequuntur.</p>
              </div>
            </div>
          </div>

          <div class="col_one_fourth">
            <div class="ipost clearfix">
              <div class="entry-image">
                <a href="#"><img class="image_fade" src="/assets/magazine/thumb/14.jpg" alt="Image"></a>
              </div>
              <div class="entry-title">
                <h3><a href="blog-single.html">UK government weighs Tesla's Model S for its ??5 million electric vehicle fleet</a></h3>
              </div>
              <ul class="entry-meta clearfix">
                <li><i class="icon-calendar3"></i> 13th Nov 2014</li>
                <li><a href="blog-single.html#comments"><i class="icon-comments"></i> 25</a></li>
              </ul>
              <div class="entry-content">
                <p>Eaque iusto quod assumenda beatae, nesciunt aliquid. Vel, eos eligendi?</p>
              </div>
            </div>
          </div>

          <div class="col_one_fourth">
            <div class="ipost clearfix">
              <div class="entry-image">
                <a href="#"><img class="image_fade" src="/assets/magazine/thumb/15.jpg" alt="Image"></a>
              </div>
              <div class="entry-title">
                <h3><a href="blog-single.html">Combat malaria positive social change civil society. Fundraise inspire.</a></h3>
              </div>
              <ul class="entry-meta clearfix">
                <li><i class="icon-calendar3"></i> 19th Dec 2014</li>
                <li><a href="blog-single.html#comments"><i class="icon-comments"></i> 19</a></li>
              </ul>
              <div class="entry-content">
                <p>Combat malaria positive social change civil society fundraise inspire.</p>
              </div>
            </div>
          </div>

          <div class="col_one_fourth col_last">
            <div class="ipost clearfix">
              <div class="entry-image">
                <a href="#"><img class="image_fade" src="/assets/magazine/thumb/13.jpg" alt="Image"></a>
              </div>
              <div class="entry-title">
                <h3><a href="blog-single.html">MIT's new robot glove can give you extra fingers</a></h3>
              </div>
              <ul class="entry-meta clearfix">
                <li><i class="icon-calendar3"></i> 22nd Jan 2013</li>
                <li><a href="blog-single.html#comments"><i class="icon-comments"></i> 14</a></li>
              </ul>
              <div class="entry-content">
                <p>Magni impedit quae consectetur consequuntur adipisci veritatis modi a, officia cum.</p>
              </div>
            </div>
          </div>

          <div class="clear"></div>

          <div class="col_one_fourth nobottommargin">
            <div class="ipost clearfix">
              <div class="entry-image">
                <a href="#"><img class="image_fade" src="/assets/magazine/thumb/3.jpg" alt="Image"></a>
              </div>
              <div class="entry-title">
                <h3><a href="blog-single.html">Beyonce Dropped A '50 Shades Of Grey', Teaser On Instagram Last Night</a></h3>
              </div>
              <ul class="entry-meta clearfix">
                <li><i class="icon-calendar3"></i> 19th Apr 2014</li>
                <li><a href="blog-single.html#comments"><i class="icon-comments"></i> 55</a></li>
              </ul>
              <div class="entry-content">
                <p>Neque nesciunt molestias soluta esse debitis. Magni impedit quae consectetur consequuntur.</p>
              </div>
            </div>
          </div>

          <div class="col_one_fourth nobottommargin">
            <div class="ipost clearfix">
              <div class="entry-image">
                <a href="#"><img class="image_fade" src="/assets/magazine/thumb/4.jpg" alt="Image"></a>
              </div>
              <div class="entry-title">
                <h3><a href="blog-single.html">A Baseball Team Blew Up A Bunch Of Justin Bieber And Miley Cyrus Merch</a></h3>
              </div>
              <ul class="entry-meta clearfix">
                <li><i class="icon-calendar3"></i> 26th Apr 2014</li>
                <li><a href="blog-single.html#comments"><i class="icon-comments"></i> 41</a></li>
              </ul>
              <div class="entry-content">
                <p>Eaque iusto quod assumenda beatae, nesciunt aliquid. Vel, eos eligendi emo perferendis dolorem voluptatem.</p>
              </div>
            </div>
          </div>

          <div class="col_one_fourth nobottommargin">
            <div class="ipost clearfix">
              <div class="entry-image">
                <a href="#"><img class="image_fade" src="/assets/magazine/thumb/7.jpg" alt="Image"></a>
              </div>
              <div class="entry-title">
                <h3><a href="blog-single.html">Cross-agency coordination meaningful work inclusive community maximize.</a></h3>
              </div>
              <ul class="entry-meta clearfix">
                <li><i class="icon-calendar3"></i> 31st Mar 2014</li>
                <li><a href="blog-single.html#comments"><i class="icon-comments"></i> 43</a></li>
              </ul>
              <div class="entry-content">
                <p>Eaque iusto quod assumenda beatae, nesciunt aliquid. Vel, eos eligendi emo perferendis dolorem voluptatem.</p>
              </div>
            </div>
          </div>

          <div class="col_one_fourth nobottommargin col_last">
            <div class="ipost clearfix">
              <div class="entry-image">
                <a href="#"><img class="image_fade" src="/assets/magazine/thumb/5.jpg" alt="Image"></a>
              </div>
              <div class="entry-title">
                <h3><a href="blog-single.html">Want To Know The New 'Star Wars' Plot? Then This Is The Post For You</a></h3>
              </div>
              <ul class="entry-meta clearfix">
                <li><i class="icon-calendar3"></i> 10th Feb 2014</li>
                <li><a href="blog-single.html#comments"><i class="icon-comments"></i> 21</a></li>
              </ul>
              <div class="entry-content">
                <p>Magni impedit quae consectetur consequuntur adipisci veritatis modi a, officia cum.</p>
              </div>
            </div>
          </div>

        </div>

        <img src="/assets/magazine/ad.jpg" alt="Ad" class="aligncenter topmargin-lg bottommargin-lg">

        <div class="col_one_third nobottommargin">

          <div class="fancy-title title-border">
            <h4>Recently Movies</h4>
          </div>

          <div>


            <div class="spost clearfix">
              <div class="entry-image">
                <a href="#"><img class="image_fade" src="/assets/magazine/small/movie/3.jpg" alt="Image"></a>
              </div>
              <div class="entry-c">
                <div class="entry-title">
                  <h4><a href="#">The Purge: Anarchy</a></h4>
                </div>
                <ul class="entry-meta clearfix">
                  <li class="color"><i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star-half-full"></i> <i class="icon-star-empty"></i> <i class="icon-star-empty"></i></li>
                  <li><i class="icon-heart3 text-warning"></i> 54%</li>
                </ul>
              </div>
            </div>

            <div class="spost clearfix">
              <div class="entry-image">
                <a href="#"><img class="image_fade" src="/assets/magazine/small/movie/4.jpg" alt="Image"></a>
              </div>
              <div class="entry-c">
                <div class="entry-title">
                  <h4><a href="#">Planes: Fire And Rescue</a></h4>
                </div>
                <ul class="entry-meta clearfix">
                  <li class="color"><i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star-empty"></i> <i class="icon-star-empty"></i> <i class="icon-star-empty"></i></li>
                  <li><i class="icon-heart3 text-warning"></i> 45%</li>
                </ul>
              </div>
            </div>

            <div class="spost clearfix">
              <div class="entry-image">
                <a href="#"><img class="image_fade" src="/assets/magazine/small/movie/5.jpg" alt="Image"></a>
              </div>
              <div class="entry-c">
                <div class="entry-title">
                  <h4><a href="#">Sex Tape</a></h4>
                </div>
                <ul class="entry-meta clearfix">
                  <li class="color"><i class="icon-star3"></i> <i class="icon-star-half-full"></i> <i class="icon-star-empty"></i> <i class="icon-star-empty"></i> <i class="icon-star-empty"></i></li>
                  <li><i class="icon-heart3 text-default"></i> 20%</li>
                </ul>
              </div>
            </div>

            <div class="spost clearfix">
              <div class="entry-image">
                <a href="#"><img class="image_fade" src="/assets/magazine/small/movie/6.jpg" alt="Image"></a>
              </div>
              <div class="entry-c">
                <div class="entry-title">
                  <h4><a href="#">Transformers: Age of Extinction</a></h4>
                </div>
                <ul class="entry-meta clearfix">
                  <li class="color"><i class="icon-star3"></i> <i class="icon-star-empty"></i> <i class="icon-star-empty"></i> <i class="icon-star-empty"></i> <i class="icon-star-empty"></i></li>
                  <li><i class="icon-heart3 text-default"></i> 17%</li>
                </ul>
              </div>
            </div>

            <div class="spost clearfix">
              <div class="entry-image">
                <a href="#"><img class="image_fade" src="/assets/magazine/small/movie/7.jpg" alt="Image"></a>
              </div>
              <div class="entry-c">
                <div class="entry-title">
                  <h4><a href="#">How to Train Your Dragon 2</a></h4>
                </div>
                <ul class="entry-meta clearfix">
                  <li class="color"><i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star3"></i> <i class="icon-star-empty"></i></li>
                  <li><i class="icon-heart3 text-danger"></i> 90%</li>
                </ul>
              </div>
            </div>

          </div>

        </div>

        <div class="col_one_third nobottommargin">

          <div class="fancy-title title-border">
            <h4>Musics Review</h4>
          </div>

          <div>
            <div class="spost clearfix">
              <div class="entry-c">
                <div class="entry-title">
                  <h4><a href="#">Thomas Jack Presents: Tropical House Vol.5</a></h4>
                </div>
                <ul class="entry-meta clearfix">
                  <li><i class="icon-heart3 text-danger"></i> 92%</li>
                  <li>Thomas Jack</li>
                </ul>
              </div>
            </div>

            <div class="spost clearfix">
              <div class="entry-c">
                <div class="entry-title">
                  <h4><a href="#">Major Lazer's Walshy Fire Presents: Jesse Royal - Royally Speaking</a></h4>
                </div>
                <ul class="entry-meta clearfix">
                  <li><i class="icon-heart3 text-warning"></i> 54%</li>
                  <li>Major Lazer</li>
                </ul>
              </div>
            </div>

            <div class="spost clearfix">
              <div class="entry-c">
                <div class="entry-title">
                  <h4><a href="#">The Weeknd - King Of The Fall</a></h4>
                </div>
                <ul class="entry-meta clearfix">
                  <li><i class="icon-heart3 text-success"></i> 78%</li>
                  <li>The Weeknd-XO</li>
                </ul>
              </div>
            </div>

            <div class="spost clearfix">
              <div class="entry-c">
                <div class="entry-title">
                  <h4><a href="#">No Flex Zone Remix Feat. Nicki Minaj</a></h4>
                </div>
                <ul class="entry-meta clearfix">
                  <li><i class="icon-heart3 text-warning"></i> 45%</li>
                  <li>Nicki Minaj</li>
                </ul>
              </div>
            </div>

            <div class="spost clearfix">
              <div class="entry-c">
                <div class="entry-title">
                  <h4><a href="#">Mike Mago &amp; Dragonette - Outlines</a></h4>
                </div>
                <ul class="entry-meta clearfix">
                  <li><i class="icon-heart3 text-primary"></i> 65%</li>
                  <li>Mike Mago</li>
                </ul>
              </div>
            </div>
          </div>

        </div>

        <div class="col_one_third nobottommargin col_last">

          <div class="fancy-title title-border">
            <h4>Opinion Polls</h4>
          </div>

          <div>
            <div class="spost clearfix">
              <div class="entry-c">
                <div class="entry-title">
                  <h4><a href="#">Who do you think is responsible for shooting down Malaysia Airlines flight MH17?</a></h4>
                </div>
                <ul class="entry-meta clearfix">
                  <li><span class="text-success">Ukraine:</span> 77%</li>
                  <li><span class="text-danger">Rebels:</span> 23%</li>
                </ul>
              </div>
            </div>
            <div class="spost clearfix">
              <div class="entry-c">
                <div class="entry-title">
                  <h4><a href="#">Maradona says Messi didn't deserve Golden Ball?</a></h4>
                </div>
                <ul class="entry-meta clearfix">
                  <li><i class="icon-thumbs-up text-success"></i> 54%</li>
                  <li><i class="icon-thumbs-down text-danger"></i> 46%</li>
                </ul>
              </div>
            </div>
            <div class="spost clearfix">
              <div class="entry-c">
                <div class="entry-title">
                  <h4><a href="#">Palestinian president says Israel is carrying out a genocide in Gaza?</a></h4>
                </div>
                <ul class="entry-meta clearfix">
                  <li><i class="icon-thumbs-up text-success"></i> 80%</li>
                  <li><i class="icon-thumbs-down text-danger"></i> 20%</li>
                </ul>
              </div>
            </div>
            <div class="spost clearfix">
              <div class="entry-c">
                <div class="entry-title">
                  <h4><a href="#">Can Brazil progress in the World Cup without Neymar?</a></h4>
                </div>
                <ul class="entry-meta clearfix">
                  <li><i class="icon-thumbs-up text-success"></i> 55%</li>
                  <li><i class="icon-thumbs-down text-danger"></i> 45%</li>
                </ul>
              </div>
            </div>
          </div>

        </div>

      </div>

    </div>

  </section><!-- #content end -->

  <!-- Footer
  ============================================= -->
  <footer id="footer" class="dark">

    <div class="container">

      <!-- Footer Widgets
      ============================================= -->
      <div class="footer-widgets-wrap clearfix">

        <div class="col_two_third">

          <div class="col_one_third">

            <div class="widget clearfix">

              <img src="/assets/shallwegologo_footer.png" alt="" class="footer-logo">

              <p>We believe in <strong>Simple</strong>, <strong>Creative</strong> &amp; <strong>Flexible</strong> Design Standards.</p>

              <div style="background: url('#') no-repeat center center; background-size: 100%;">
                <address>
                  <strong>Headquarters:</strong><br>
                  795 Folsom Ave, Suite 600<br>
                  San Francisco, CA 94107<br>
                </address>
                <abbr title="Phone Number"><strong>Phone:</strong></abbr> (91) 8547 632521<br>
                <abbr title="Fax"><strong>Fax:</strong></abbr> (91) 11 4752 1433<br>
                <abbr title="Email Address"><strong>Email:</strong></abbr> info@canvas.com
              </div>

            </div>

          </div>

          <div class="col_one_third">

            <div class="widget widget_links clearfix">

              <h4>Blogroll</h4>

              <ul>
                <li><a href="http://codex.wordpress.org/">Documentation</a></li>
                <li><a href="http://wordpress.org/support/forum/requests-and-feedback">Feedback</a></li>
                <li><a href="http://wordpress.org/extend/plugins/">Plugins</a></li>
                <li><a href="http://wordpress.org/support/">Support Forums</a></li>
                <li><a href="http://wordpress.org/extend/themes/">Themes</a></li>
                <li><a href="http://wordpress.org/news/">WordPress Blog</a></li>
                <li><a href="http://planet.wordpress.org/">WordPress Planet</a></li>
              </ul>

            </div>

          </div>

          <div class="col_one_third col_last">

            <div class="widget clearfix">
              <h4>Flickr Photostream</h4>
              <div id="post-list-footer">
                <div class="spost clearfix">
                  <div class="entry-c">
                    <div class="entry-title">
                      <h4><a href="#">Lorem ipsum dolor sit amet, consectetur</a></h4>
                    </div>
                    <ul class="entry-meta">
                      <li>10th July 2014</li>
                    </ul>
                  </div>
                </div>

                <div class="spost clearfix">
                  <div class="entry-c">
                    <div class="entry-title">
                      <h4><a href="#">Elit Assumenda vel amet dolorum quasi</a></h4>
                    </div>
                    <ul class="entry-meta">
                      <li>10th July 2014</li>
                    </ul>
                  </div>
                </div>

                <div class="spost clearfix">
                  <div class="entry-c">
                    <div class="entry-title">
                      <h4><a href="#">Debitis nihil placeat, illum est nisi</a></h4>
                    </div>
                    <ul class="entry-meta">
                      <li>10th July 2014</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>

        <div class="col_one_third col_last">

          <div class="widget clearfix" style="margin-bottom: -20px;">

            <div class="row">

              <div class="col-md-6 bottommargin-sm">
                <div class="counter counter-small"><span data-from="50" data-to="15065421" data-refresh-interval="80" data-speed="3000" data-comma="true"></span></div>
                <h5 class="nobottommargin">Total Downloads</h5>
              </div>

              <div class="col-md-6 bottommargin-sm">
                <div class="counter counter-small"><span data-from="100" data-to="18465" data-refresh-interval="50" data-speed="2000" data-comma="true"></span></div>
                <h5 class="nobottommargin">Clients</h5>
              </div>

            </div>

          </div>

          <div class="widget subscribe-widget clearfix">
            <h5><strong>Subscribe</strong> to Our Newsletter to get Important News, Amazing Offers &amp; Inside Scoops:</h5>
            <div class="widget-subscribe-form-result"></div>
            <form id="widget-subscribe-form" action="include/subscribe.php" role="form" method="post" class="nobottommargin">
              <div class="input-group divcenter">
                <span class="input-group-addon"><i class="icon-email2"></i></span>
                <input type="email" id="widget-subscribe-form-email" name="widget-subscribe-form-email" class="form-control required email" placeholder="Enter your Email">
                <span class="input-group-btn">
										<button class="btn btn-success" type="submit">Subscribe</button>
									</span>
              </div>
            </form>
          </div>

          <div class="widget clearfix" style="margin-bottom: -20px;">

            <div class="row">

              <div class="col-md-6 clearfix bottommargin-sm">
                <a href="#" class="social-icon si-dark si-colored si-facebook nobottommargin" style="margin-right: 10px;">
                  <i class="icon-facebook"></i>
                  <i class="icon-facebook"></i>
                </a>
                <a href="#"><small style="display: block; margin-top: 3px;"><strong>Like us</strong><br>on Facebook</small></a>
              </div>
              <div class="col-md-6 clearfix">
                <a href="#" class="social-icon si-dark si-colored si-rss nobottommargin" style="margin-right: 10px;">
                  <i class="icon-rss"></i>
                  <i class="icon-rss"></i>
                </a>
                <a href="#"><small style="display: block; margin-top: 3px;"><strong>Subscribe</strong><br>to RSS Feeds</small></a>
              </div>

            </div>

          </div>

        </div>

      </div><!-- .footer-widgets-wrap end -->

    </div>

    <!-- Copyrights
    ============================================= -->
    <div id="copyrights">

      <div class="container clearfix">

        <div class="col_half">
          Copyrights &copy; 2014 All Rights Reserved by Canvas Inc.<br>
          <div class="copyright-links"><a href="#">Terms of Use</a> / <a href="#">Privacy Policy</a></div>
        </div>

        <div class="col_half col_last tright">
          <div class="fright clearfix">
            <a href="#" class="social-icon si-small si-borderless si-facebook">
              <i class="icon-facebook"></i>
              <i class="icon-facebook"></i>
            </a>

            <a href="#" class="social-icon si-small si-borderless si-twitter">
              <i class="icon-twitter"></i>
              <i class="icon-twitter"></i>
            </a>

            <a href="#" class="social-icon si-small si-borderless si-gplus">
              <i class="icon-gplus"></i>
              <i class="icon-gplus"></i>
            </a>

            <a href="#" class="social-icon si-small si-borderless si-pinterest">
              <i class="icon-pinterest"></i>
              <i class="icon-pinterest"></i>
            </a>

            <a href="#" class="social-icon si-small si-borderless si-vimeo">
              <i class="icon-vimeo"></i>
              <i class="icon-vimeo"></i>
            </a>

            <a href="#" class="social-icon si-small si-borderless si-github">
              <i class="icon-github"></i>
              <i class="icon-github"></i>
            </a>

            <a href="#" class="social-icon si-small si-borderless si-yahoo">
              <i class="icon-yahoo"></i>
              <i class="icon-yahoo"></i>
            </a>

            <a href="#" class="social-icon si-small si-borderless si-linkedin">
              <i class="icon-linkedin"></i>
              <i class="icon-linkedin"></i>
            </a>
          </div>

          <div class="clear"></div>

          <i class="icon-envelope2"></i> info@canvas.com <span class="middot">&middot;</span> <i class="icon-headphones"></i> +91-11-6541-6369 <span class="middot">&middot;</span> <i class="icon-skype2"></i> CanvasOnSkype
        </div>

      </div>

    </div><!-- #copyrights end -->

  </footer><!-- #footer end -->

</div><!-- #wrapper end -->

<!-- Go To Top
============================================= -->
<div id="gotoTop" class="icon-angle-up"></div>

<!-- External JavaScripts
============================================= -->
<script type="text/javascript" src="/assets/js/jquery.js"></script>
<script type="text/javascript" src="/assets/js/plugins.js"></script>

<!-- Footer Scripts
============================================= -->
<script type="text/javascript" src="/assets/js/functions.js"></script>

</body>


</html>